In [97]:
import pandas as pd
import numpy as np

source = r"C:\Users\Toure Kriya\Desktop\aller Ã  plus les gars\FORMATION\SBC4D\HDR 2007-2008 Table 28_1.xlsx "

df = pd.read_excel(source)
df.head(12)

,Unnamed: 0,Unnamed: 1,â€¦ and achieving equality for all women and men,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,28 Gender-related development index,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Gender-related development index (GDI),NaN,NaN,NaN,Life expectancy at birth (years) 2005,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,HDI rank minus GDI rank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,HDI rank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,Rank,NaN,Value,NaN,Female,NaN,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1,Iceland,NaN,1,NaN,0.962,NaN,83.1,NaN,79.9,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2,Norway,NaN,3,NaN,0.957,NaN,82.2,NaN,77.3,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,3,Australia,NaN,2,NaN,0.960,NaN,83.3,NaN,78.5,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
df = pd.read_excel(source, header=7)
# Supprimez d'abord toutes les colonnes (axe=1) sans valeurs
df = df.dropna(how="all", axis=1)
# Supprimer toutes les lignes (axe=0) sans valeurs
df = df.dropna(how="all", axis=0).reset_index(drop=True)

df.head(6)

,HDI rank,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,NaN,NaN,NaN,Rank,Value,NaN,Female,Male,NaN,Female,...,NaN,Female,NaN,Male,NaN,Female,NaN,Male,NaN,NaN
1,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Iceland,NaN,1,0.962,NaN,83.1,79.9,NaN,..,...,e,101,f,90,f,"28,637",f,"40,000",f,0
3,2,Norway,NaN,3,0.957,NaN,82.2,77.3,NaN,..,...,e,103,f,95,f,"30,749",f,"40,000",f,-1
4,3,Australia,NaN,2,0.960,NaN,83.3,78.5,NaN,..,...,e,114,f,112,f,"26,311",NaN,"37,414",NaN,1
5,4,Canada,NaN,4,0.956,NaN,82.6,77.9,NaN,..,...,e,101,"f,g",98,"f,g","25,448","f,h","40,000","f,h",0

In [99]:
columns = []
for c in df.columns:
    # Pour chaque colonne, obtenir les valeurs des 5 premiÃ¨res lignes
    # puis conservez toutes les chaÃ®nes (c'est-Ã -dire excluez-les si elles sont nulles) et ajoutez-les en colonne
    columns.append([str(v) for v in df[c][:5] if pd.notnull(v)])
columns

[['HIGH HUMAN DEVELOPMENT', '1', '2', '3'],
 ['Iceland', 'Norway', 'Australia'],
 [],
 ['Rank', '1', '3', '2'],
 ['Value', '0.962', '0.957', '0.960'],
 [],
 ['Female', '83.1', '82.2', '83.3'],
 ['Male', '79.9', '77.3', '78.5'],
 [],
 ['Female', '..', '..', '..'],
 ['e', 'e', 'e'],
 ['Male', '..', '..', '..'],
 ['e', 'e', 'e'],
 ['Female', '101', '103', '114'],
 ['f', 'f', 'f'],
 ['Male', '90', '95', '112'],
 ['f', 'f', 'f'],
 ['Female', '28,637', '30,749', '26,311'],
 ['f', 'f'],
 ['Male', '40,000', '40,000', '37,414'],
 ['f', 'f'],
 ['0', '-1', '1']]

In [100]:
columns = [
    "HDI rank",
    "Country",
    "",
    "Gender-related development index (GDI) - Rank",
    "Gender-related development index (GDI) - Value (%)",
    "",
    "Life expectancy at birth (years) 2005 - Female",
    "Life expectancy at birth (years) 2005 - Male",
    "",
    "Adult literacy ratea (% aged 15 and older) 1995-2005 - Female",
    "Reference 1",
    "Adult literacy ratea (% aged 15 and older) 1995-2005 - Male",
    "Reference 2",
    "Combined gross enrolment ratio for primary, secondary and tertiary education (%) 2005 - Female",
    "Reference 3",
    "Combined gross enrolment ratio for primary, secondary and tertiary education (%) 2005 - Male",   
    "Reference 4",
    "Estimated earned incomec (PPP US$) 2005 - Female",   
    "Reference 5",
    "Estimated earned incomec (PPP US$) 2005 - Male",
    "Reference 6",
    "HDI rank minus GDI rank"
]
# RÃ©initialiser les colonnes des cadres de donnÃ©es
df.columns = columns
# Supprimer les lignes qui contenaient les informations dont nous n'avons plus besoin
# et rÃ©initialiser l'index
# np.arange(5) crÃ©e un tableau = [0, 1, 2, 3, 4, 5]
df = df.drop(np.arange(2), axis=0).reset_index(drop=True)

df.drop(['Reference 1', 'Reference 2', 'Reference 3', 'Reference 4', 'Reference 5', 'Reference 6'], axis='columns', inplace=True)

df.head()

,HDI rank,Country,,Gender-related development index (GDI) - Rank,Gender-related development index (GDI) - Value (%),,Life expectancy at birth (years) 2005 - Female,Life expectancy at birth (years) 2005 - Male,,Adult literacy ratea (% aged 15 and older) 1995-2005 - Female,Adult literacy ratea (% aged 15 and older) 1995-2005 - Male,"Combined gross enrolment ratio for primary, secondary and tertiary education (%) 2005 - Female","Combined gross enrolment ratio for primary, secondary and tertiary education (%) 2005 - Male",Estimated earned incomec (PPP US$) 2005 - Female,Estimated earned incomec (PPP US$) 2005 - Male,HDI rank minus GDI rank
0,1,Iceland,NaN,1,0.962,NaN,83.1,79.9,NaN,..,..,101,90,"28,637","40,000",0
1,2,Norway,NaN,3,0.957,NaN,82.2,77.3,NaN,..,..,103,95,"30,749","40,000",-1
2,3,Australia,NaN,2,0.960,NaN,83.3,78.5,NaN,..,..,114,112,"26,311","37,414",1
3,4,Canada,NaN,4,0.956,NaN,82.6,77.9,NaN,..,..,101,98,"25,448","40,000",0
4,5,Ireland,NaN,15,0.940,NaN,80.9,76.0,NaN,..,..,102,98,"21,076","40,000",-10

In [101]:
df.tail(50)

,HDI rank,Country,,Gender-related development index (GDI) - Rank,Gender-related development index (GDI) - Value (%),,Life expectancy at birth (years) 2005 - Female,Life expectancy at birth (years) 2005 - Male,,Adult literacy ratea (% aged 15 and older) 1995-2005 - Female,Adult literacy ratea (% aged 15 and older) 1995-2005 - Male,"Combined gross enrolment ratio for primary, secondary and tertiary education (%) 2005 - Female","Combined gross enrolment ratio for primary, secondary and tertiary education (%) 2005 - Male",Estimated earned incomec (PPP US$) 2005 - Female,Estimated earned incomec (PPP US$) 2005 - Male,HDI rank minus GDI rank
159,158,Nigeria,NaN,139,0.456,NaN,47.1,46.0,NaN,60.1,78.2,51,61,652,"1,592",-1
160,159,Tanzania (United Republic of),NaN,138,0.464,NaN,52.0,50.0,NaN,62.2,77.5,49,52,627,863,1
161,160,Guinea,NaN,141,0.446,NaN,56.4,53.2,NaN,18.1,42.6,38,52,"1,876","2,734",-1
162,161,Rwanda,NaN,140,0.450,NaN,46.7,43.6,NaN,59.8,71.4,51,51,"1,031","1,392",1
163,162,Angola,NaN,142,0.439,NaN,43.3,40.1,NaN,54.2,82.9,24,28,"1,787","2,898",0
164,163,Benin,NaN,145,0.422,NaN,56.5,54.1,NaN,23.3,47.9,42,59,732,"1,543",-2
165,164,Malawi,NaN,143,0.432,NaN,46.7,46.0,NaN,54.0,74.9,62,64,565,771,1
166,165,Zambia,NaN,144,0.425,NaN,40.6,40.3,NaN,59.8,76.3,58,63,725,"1,319",1
167,166,CÃ´te d'Ivoire,NaN,146,0.413,NaN,48.3,46.5,NaN,38.6,60.8,32,47,795,"2,472",0
168,167,Burundi,NaN,147,0.409,NaN,49.8,47.1,NaN,52.2,67.3,34,42,611,791,0
169,168,Congo (Democratic Republic of the),NaN,148,0.398,NaN,47.1,44.4,NaN,54.1,80.9,28,39,488,944,0
170,169,Ethiopia,NaN,149,0.393,NaN,53.1,50.5,NaN,22.8,50.0,36,48,796,"1,316",0
171,170,Chad,NaN,152,0.370,NaN,51.8,49.0,NaN,12.8,40.8,28,47,"1,126","1,735",-2
172,171,Central African Republic,NaN,153,0.368,NaN,45.0,42.3,NaN,33.5,64.8,23,36,933,"1,530",-2
173,172,Mozambique,NaN,150,0.373,NaN,43.6,42.0,NaN,25.0,54.8,48,58,"1,115","1,378",2
174,173,Mali,NaN,151,0.371,NaN,55.3,50.8,NaN,15.9,32.7,31,42,833,"1,234",2
175,174,Niger,NaN,155,0.355,NaN,54.9,56.7,NaN,15.1,42.9,19,26,561,991,-1
176,175,Guinea-Bissau,NaN,156,0.355,NaN,47.5,44.2,NaN,60.0,60.0,29,45,558,"1,103",-1
177,176,Burkina Faso,NaN,154,0.364,NaN,52.9,49.8,NaN,16.6,31.4,25,33,966,"1,458",2
178,177,Sierra Leone,NaN,157,0.320,NaN,43.4,40.2,NaN,24.2,46.7,38,52,507,"1,114",0
179,NOTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,a. Data refer to national literacy estimates f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,SOURCES\nColumn 1: determined on the basis of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,GDI ranks for 157 countries and areas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,1,Iceland,27.0,Cyprus,NaN,54.0,Romania,NaN,80.0,Jordan,NaN,Tajikistan,NaN,132,NaN,NaN
184,2,Australia,28.0,Portugal,NaN,55.0,Panama,NaN,81.0,Lebanon,NaN,South Africa,NaN,133,NaN,NaN
185,3,Norway,29.0,Czech Republic,NaN,56.0,Trinidad and Tobago,NaN,82.0,Fiji,NaN,Namibia,NaN,134,NaN,NaN
186,4,Canada,30.0,Barbados,NaN,57.0,Belarus,NaN,83.0,Tunisia,NaN,Botswana,NaN,135,NaN,NaN
187,5,Sweden,31.0,Brunei Darussalam,NaN,58.0,Malaysia,NaN,84.0,Iran (Islamic Republic of),NaN,Sao Tome and Principe,NaN,136,NaN,NaN
188,6,Netherlands,32.0,Kuwait,NaN,59.0,Russian Federation,NaN,85.0,Maldives,NaN,Equatorial Guinea,NaN,137,NaN,NaN
189,7,France,33.0,Malta,NaN,60.0,Brazil,NaN,86.0,Paraguay,NaN,Morocco,NaN,138,NaN,NaN
190,8,Finland,34.0,Hungary,NaN,61.0,Albania,NaN,87.0,Azerbaijan,NaN,India,NaN,139,NaN,NaN
191,9,Switzerland,35.0,Poland,NaN,62.0,Libyan Arab Jamahiriya,NaN,88.0,Guyana,NaN,Cambodia,NaN,140,NaN,NaN
192,10,United Kingdom,36.0,Argentina,NaN,63.0,Mauritius,NaN,89.0,Sri Lanka,NaN,Lao People's Democratic Rep.,NaN,141,NaN,NaN
193,11,Denmark,37.0,Qatar,NaN,64.0,Macedonia (TFYR),NaN,90.0,Jamaica,NaN,Comoros,NaN,142,NaN,NaN
194,12,Spain,38.0,Lithuania,NaN,65.0,Kazakhstan,NaN,91.0,Viet Nam,NaN,Ghana,NaN,143,NaN,NaN
195,13,Japan,39.0,Slovakia,NaN,66.0,Colombia,NaN,92.0,El Salvador,NaN,Mauritania,NaN,144,NaN,NaN
196,14,Belgium,40.0,Chile,NaN,67.0,Oman,NaN,93.0,Cape Verde,NaN,Lesotho,NaN,145,NaN,NaN
197,15,Ireland,41.0,Estonia,NaN,68.0,Venezuela (Bolivarian Rep. of),NaN,94.0,Indonesia,NaN,Congo,NaN,146,NaN,NaN
198,16,United States,42.0,Bahrain,NaN,69.0,Ukraine,NaN,95.0,Algeria,NaN,Bangladesh,NaN,147,NaN,NaN
199,17,Italy,43.0,United Arab Emirates,NaN,70.0,Saudi Arabia,NaN,96.0,Syrian Arab Republic,NaN,Madagascar,NaN,148,NaN,NaN
200,18,New Zealand,44.0,Latvia,NaN,71.0,Thailand,NaN,97.0,Moldova,NaN,Swaziland,NaN,149,NaN,NaN
201,19,Austria,45.0,Uruguay,NaN,72.0,Samoa,NaN,98.0,Uzbekistan,NaN,Papua New Guinea,NaN,150,NaN,NaN
202,20,Germany,46.0,Croatia,NaN,73.0,China,NaN,99.0,Nicaragua,NaN,Pakistan,NaN,151,NaN,NaN
203,21,Israel,47.0,Costa Rica,NaN,74.0,Dominican Republic,NaN,100.0,Mongolia,NaN,Cameroon,NaN,152,NaN,NaN
204,22,"Hong Kong, China (SAR)",48.0,Bahamas,NaN,75.0,Armenia,NaN,101.0,Honduras,NaN,Kenya,NaN,153,NaN,NaN
205,23,Luxembourg,49.0,Cuba,NaN,76.0,Peru,NaN,102.0,Kyrgyzstan,NaN,Nepal,NaN,154,NaN,NaN
206,24,Greece,50.0,Bulgaria,NaN,77.0,Philippines,NaN,103.0,Bolivia,NaN,Djibouti,NaN,155,NaN,NaN
207,25,Slovenia,51.0,Mexico,NaN,78.0,Suriname,NaN,104.0,Guatemala,NaN,Zimbabwe,NaN,156,NaN,NaN
208,26,Korea (Republic of),53.0,Tonga,NaN,79.0,Turkey,NaN,105.0,Gabon,NaN,Sudan,NaN,157,NaN,NaN

In [102]:
# DÃ©poser les lignes du bas des donnÃ©es que nous voulons conserver, jusqu'Ã  la fin (dÃ©fini comme len(df))
df = df.drop(np.arange(179,len(df)), axis=0).reset_index(drop=True)

df.tail(50)

,HDI rank,Country,,Gender-related development index (GDI) - Rank,Gender-related development index (GDI) - Value (%),,Life expectancy at birth (years) 2005 - Female,Life expectancy at birth (years) 2005 - Male,,Adult literacy ratea (% aged 15 and older) 1995-2005 - Female,Adult literacy ratea (% aged 15 and older) 1995-2005 - Male,"Combined gross enrolment ratio for primary, secondary and tertiary education (%) 2005 - Female","Combined gross enrolment ratio for primary, secondary and tertiary education (%) 2005 - Male",Estimated earned incomec (PPP US$) 2005 - Female,Estimated earned incomec (PPP US$) 2005 - Male,HDI rank minus GDI rank
129,129,Solomon Islands,NaN,..,..,NaN,63.8,62.2,NaN,..,..,46,50,"1,345","2,672",..
130,130,Lao People's Democratic Republic,NaN,115,0.593,NaN,64.5,61.9,NaN,60.9,77.0,56,67,"1,385","2,692",-1
131,131,Cambodia,NaN,114,0.594,NaN,60.6,55.2,NaN,64.1,84.7,56,64,"2,332","3,149",1
132,132,Myanmar,NaN,..,..,NaN,64.2,57.6,NaN,86.4,93.9,51,48,..,..,..
133,133,Bhutan,NaN,..,..,NaN,66.5,63.1,NaN,..,..,..,..,"2,141","4,463",..
134,134,Comoros,NaN,116,0.554,NaN,66.3,62.0,NaN,63.9,63.9,42,50,"1,337","2,643",0
135,135,Ghana,NaN,117,0.549,NaN,59.5,58.7,NaN,49.8,66.4,48,53,"2,056","2,893",0
136,136,Pakistan,NaN,125,0.525,NaN,64.8,64.3,NaN,35.4,64.1,34,45,"1,059","3,607",-7
137,137,Mauritania,NaN,118,0.543,NaN,65.0,61.5,NaN,43.4,59.5,45,47,"1,489","2,996",1
138,138,Lesotho,NaN,119,0.541,NaN,42.9,42.1,NaN,90.3,73.7,67,65,"2,340","4,480",1
139,139,Congo,NaN,120,0.540,NaN,55.2,52.8,NaN,79.0,90.5,48,54,841,"1,691",1
140,140,Bangladesh,NaN,121,0.539,NaN,64.0,62.3,NaN,40.8,53.9,56,56,"1,282","2,792",1
141,141,Swaziland,NaN,123,0.529,NaN,41.4,40.4,NaN,78.3,80.9,58,62,"2,187","7,659",0
142,142,Nepal,NaN,128,0.520,NaN,62.9,62.1,NaN,34.9,62.7,54,62,"1,038","2,072",-4
143,143,Madagascar,NaN,122,0.530,NaN,60.1,56.7,NaN,65.3,76.5,58,61,758,"1,090",3
144,144,Cameroon,NaN,126,0.524,NaN,50.2,49.4,NaN,59.8,77.0,57,68,"1,519","3,086",0
145,145,Papua New Guinea,NaN,124,0.529,NaN,60.1,54.3,NaN,50.9,63.4,38,43,"2,140","2,960",3
146,146,Haiti,NaN,..,..,NaN,61.3,57.7,NaN,56.5,56.5,..,..,"1,146","2,195",..
147,147,Sudan,NaN,131,0.502,NaN,58.9,56.0,NaN,51.8,71.1,35,39,832,"3,317",-3
148,148,Kenya,NaN,127,0.521,NaN,53.1,51.1,NaN,70.2,77.7,59,62,"1,126","1,354",2
149,149,Djibouti,NaN,129,0.507,NaN,55.2,52.6,NaN,79.9,79.9,22,29,"1,422","2,935",1
150,150,Timor-Leste,NaN,..,..,NaN,60.5,58.9,NaN,..,..,71,73,..,..,..
151,151,Zimbabwe,NaN,130,0.505,NaN,40.2,41.4,NaN,86.2,92.7,51,54,"1,499","2,585",1
152,152,Togo,NaN,134,0.494,NaN,59.6,56.0,NaN,38.5,68.7,46,64,907,"2,119",-2
153,153,Yemen,NaN,136,0.472,NaN,63.1,60.0,NaN,34.7,73.1,43,67,424,"1,422",-3
154,154,Uganda,NaN,132,0.501,NaN,50.2,49.1,NaN,57.7,76.8,62,64,"1,199","1,708",2
155,155,Gambia,NaN,133,0.496,NaN,59.9,57.7,NaN,49.9,49.9,49,51,"1,327","2,525",2
156,LOW HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,156,Senegal,NaN,135,0.492,NaN,64.4,60.4,NaN,29.2,51.1,37,42,"1,256","2,346",1
158,157,Eritrea,NaN,137,0.469,NaN,59.0,54.0,NaN,71.5,71.5,29,41,689,"1,544",0
159,158,Nigeria,NaN,139,0.456,NaN,47.1,46.0,NaN,60.1,78.2,51,61,652,"1,592",-1
160,159,Tanzania (United Republic of),NaN,138,0.464,NaN,52.0,50.0,NaN,62.2,77.5,49,52,627,863,1
161,160,Guinea,NaN,141,0.446,NaN,56.4,53.2,NaN,18.1,42.6,38,52,"1,876","2,734",-1
162,161,Rwanda,NaN,140,0.450,NaN,46.7,43.6,NaN,59.8,71.4,51,51,"1,031","1,392",1
163,162,Angola,NaN,142,0.439,NaN,43.3,40.1,NaN,54.2,82.9,24,28,"1,787","2,898",0
164,163,Benin,NaN,145,0.422,NaN,56.5,54.1,NaN,23.3,47.9,42,59,732,"1,543",-2
165,164,Malawi,NaN,143,0.432,NaN,46.7,46.0,NaN,54.0,74.9,62,64,565,771,1
166,165,Zambia,NaN,144,0.425,NaN,40.6,40.3,NaN,59.8,76.3,58,63,725,"1,319",1
167,166,CÃ´te d'Ivoire,NaN,146,0.413,NaN,48.3,46.5,NaN,38.6,60.8,32,47,795,"2,472",0
168,167,Burundi,NaN,147,0.409,NaN,49.8,47.1,NaN,52.2,67.3,34,42,611,791,0
169,168,Congo (Democratic Republic of the),NaN,148,0.398,NaN,47.1,44.4,NaN,54.1,80.9,28,39,488,944,0
170,169,Ethiopia,NaN,149,0.393,NaN,53.1,50.5,NaN,22.8,50.0,36,48,796,"1,316",0
171,170,Chad,NaN,152,0.370,NaN,51.8,49.0,NaN,12.8,40.8,28,47,"1,126","1,735",-2
172,171,Central African Republic,NaN,153,0.368,NaN,45.0,42.3,NaN,33.5,64.8,23,36,933,"1,530",-2
173,172,Mozambique,NaN,150,0.373,NaN,43.6,42.0,NaN,25.0,54.8,48,58,"1,115","1,378",2
174,173,Mali,NaN,151,0.371,NaN,55.3,50.8,NaN,15.9,32.7,31,42,833,"1,234",2
175,174,Niger,NaN,155,0.355,NaN,54.9,56.7,NaN,15.1,42.9,19,26,561,991,-1
176,175,Guinea-Bissau,NaN,156,0.355,NaN,47.5,44.2,NaN,60.0,60.0,29,45,558,"1,103",-1
177,176,Burkina Faso,NaN,154,0.364,NaN,52.9,49.8,NaN,16.6,31.4,25,33,966,"1,458",2
178,177,Sierra Leone,NaN,157,0.320,NaN,43.4,40.2,NaN,24.2,46.7,38,52,507,"1,114",0

In [103]:
# Supprimez d'abord toutes les colonnes (axe=1) sans valeurs
df = df.dropna(how="all", axis=1)
# Supprimer toutes les lignes (axe=0) sans valeurs
df = df.dropna(how="all", axis=0).reset_index(drop=True)


df.head(10)

,HDI rank,Country,Gender-related development index (GDI) - Rank,Gender-related development index (GDI) - Value (%),Life expectancy at birth (years) 2005 - Female,Life expectancy at birth (years) 2005 - Male,Adult literacy ratea (% aged 15 and older) 1995-2005 - Female,Adult literacy ratea (% aged 15 and older) 1995-2005 - Male,"Combined gross enrolment ratio for primary, secondary and tertiary education (%) 2005 - Female","Combined gross enrolment ratio for primary, secondary and tertiary education (%) 2005 - Male",Estimated earned incomec (PPP US$) 2005 - Female,Estimated earned incomec (PPP US$) 2005 - Male,HDI rank minus GDI rank
0,1,Iceland,1,0.962,83.1,79.9,..,..,101,90,"28,637","40,000",0
1,2,Norway,3,0.957,82.2,77.3,..,..,103,95,"30,749","40,000",-1
2,3,Australia,2,0.960,83.3,78.5,..,..,114,112,"26,311","37,414",1
3,4,Canada,4,0.956,82.6,77.9,..,..,101,98,"25,448","40,000",0
4,5,Ireland,15,0.940,80.9,76.0,..,..,102,98,"21,076","40,000",-10
5,6,Sweden,5,0.955,82.7,78.3,..,..,100,91,"29,044","36,059",1
6,7,Switzerland,9,0.946,83.7,78.5,..,..,83,88,"25,056","40,000",-2
7,8,Japan,13,0.942,85.7,78.7,..,..,85,87,"17,802","40,000",-5
8,9,Netherlands,6,0.951,81.4,76.9,..,..,98,99,"25,625","39,845",3
9,10,France,7,0.950,83.7,76.6,..,..,99,94,"23,945","37,169",3

In [104]:
hdi_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]
# Se dÃ©barrasser des rangÃ©es avec les catÃ©gories HDI
df = df.drop(df[df["HDI rank"].isin(hdi_categories)].index, axis=0).reset_index(drop=True)

# ceci peut aussi Ãªtre imbriquÃ© : where(test is true, true-thing, where(new-test is true, true-thing, false-thing))
df.loc[:, "HDI category"] = np.where(df["HDI rank"] < 155,
                                     "LOW HUMAN DEVELOPMENT",
                                     np.where(df["HDI rank"] < 70,
                                              "MEDIUM HUMAN DEVELOPMENT",
                                              "HIGH HUMAN DEVELOPMENT"
                                             )
                                    )
df.sort_values(by="HDI rank", inplace=True)
df.head()

,HDI rank,Country,Gender-related development index (GDI) - Rank,Gender-related development index (GDI) - Value (%),Life expectancy at birth (years) 2005 - Female,Life expectancy at birth (years) 2005 - Male,Adult literacy ratea (% aged 15 and older) 1995-2005 - Female,Adult literacy ratea (% aged 15 and older) 1995-2005 - Male,"Combined gross enrolment ratio for primary, secondary and tertiary education (%) 2005 - Female","Combined gross enrolment ratio for primary, secondary and tertiary education (%) 2005 - Male",Estimated earned incomec (PPP US$) 2005 - Female,Estimated earned incomec (PPP US$) 2005 - Male,HDI rank minus GDI rank,HDI category
0,1,Iceland,1,0.962,83.1,79.9,..,..,101,90,"28,637","40,000",0,LOW HUMAN DEVELOPMENT
1,2,Norway,3,0.957,82.2,77.3,..,..,103,95,"30,749","40,000",-1,LOW HUMAN DEVELOPMENT
2,3,Australia,2,0.960,83.3,78.5,..,..,114,112,"26,311","37,414",1,LOW HUMAN DEVELOPMENT
3,4,Canada,4,0.956,82.6,77.9,..,..,101,98,"25,448","40,000",0,LOW HUMAN DEVELOPMENT
4,5,Ireland,15,0.940,80.9,76.0,..,..,102,98,"21,076","40,000",-10,LOW HUMAN DEVELOPMENT

In [105]:
df.to_csv

<bound method DataFrame.to_csv of     HDI rank                             Country  \
0          1                             Iceland
1          2                              Norway
2          3                           Australia
3          4                              Canada
4          5                             Ireland
5          6                              Sweden
6          7                         Switzerland
7          8                               Japan
8          9                         Netherlands
9         10                              France
10        11                             Finland
11        12                       United States
12        13                               Spain
13        14                             Denmark
14        15                             Austria
15        16                      United Kingdom
16        17                             Belgium
17        18                          Luxembourg
18        19                         New Zealand
19        20                               Italy
20        21              Hong Kong, China (SAR)
21        22                             Germany
22        23                              Israel
23        24                              Greece
24        25                           Singapore
25        26                 Korea (Republic of)
26        27                            Slovenia
27        28                              Cyprus
28        29                            Portugal
29        30                   Brunei Darussalam
..       ...                                 ...
147      148                               Kenya
148      149                            Djibouti
149      150                         Timor-Leste
150      151                            Zimbabwe
151      152                                Togo
152      153                               Yemen
153      154                              Uganda
154      155                              Gambia
155      156                             Senegal
156      157                             Eritrea
157      158                             Nigeria
158      159       Tanzania (United Republic of)
159      160                              Guinea
160      161                              Rwanda
161      162                              Angola
162      163                               Benin
163      164                              Malawi
164      165                              Zambia
165      166                       CÃ´te d'Ivoire
166      167                             Burundi
167      168  Congo (Democratic Republic of the)
168      169                            Ethiopia
169      170                                Chad
170      171            Central African Republic
171      172                          Mozambique
172      173                                Mali
173      174                               Niger
174      175                       Guinea-Bissau
175      176                        Burkina Faso
176      177                        Sierra Leone

    Gender-related development index (GDI) - Rank  \
0                                               1
1                                               3
2                                               2
3                                               4
4                                              15
5                                               5
6                                               9
7                                              13
8                                               6
9                                               7
10                                              8
11                                             16
12                                             12
13                                             11
14                                             19
15                                             10
16                                             14
17                                             23
18                                             18
19                                             17
20                                             22
21                                             20
22                                             21
23                                             24
24                                             ..
25                                             26
26                                             25
27                                             27
28                                             28
29                                             31
..                                            ...
147                                           127
148                                           129
149                                            ..
150                                           130
151                                           134
152                                           136
153                                           132
154                                           133
155                                           135
156                                           137
157                                           139
158                                           138
159                                           141
160                                           140
161                                           142
162                                           145
163                                           143
164                                           144
165                                           146
166                                           147
167                                           148
168                                           149
169                                           152
170                                           153
171                                           150
172                                           151
173                                           155
174                                           156
175                                           154
176                                           157

    Gender-related development index (GDI) - Value (%)  \
0                                                0.962
1                                                0.957
2                                                0.960
3                                                0.956
4                                                0.940
5                                                0.955
6                                                0.946
7                                                0.942
8                                                0.951
9                                                0.950
10                                               0.947
11                                               0.937
12                                               0.944
13                                               0.944
14                                               0.934
15                                               0.944
16                                               0.940
17                                               0.924
18                                               0.935
19                                               0.936
20                                               0.926
21                                               0.931
22                                               0.927
23                                               0.922
24                                                  ..
25                                               0.910
26                                               0.914
27                                               0.899
28                                               0.895
29                                               0.886
..                                                 ...
147                                              0.521
148                                              0.507
149                                                 ..
150                                              0.505
151                                              0.494
152                                              0.472
153                                              0.501
154                                              0.496
155                                              0.492
156                                              0.469
157                                              0.456
158                                              0.464
159                                              0.446
160                                              0.450
161                                              0.439
162                                              0.422
163                                              0.432
164                                              0.425
165                                              0.413
166                                              0.409
167                                              0.398
168                                              0.393
169                                              0.370
170                                              0.368
171                                              0.373
172                                              0.371
173                                              0.355
174                                              0.355
175                                              0.364
176                                              0.320

    Life expectancy at birth (years) 2005 - Female  \
0                                             83.1
1                                             82.2
2                                             83.3
3                                             82.6
4                                             80.9
5                                             82.7
6                                             83.7
7                                             85.7
8                                             81.4
9                                             83.7
10                                            82.0
11                                            80.4
12                                            83.8
13                                            80.1
14                                            82.2
15                                            81.2
16                                            81.8
17                                            81.4
18                                            81.8
19                                            83.2
20                                            84.9
21                                            81.8
22                                            82.3
23                                            80.9
24                                            81.4
25                                            81.5
26                                            81.1
27                                            81.5
28                                            80.9
29                                            79.3
..                                             ...
147                                           53.1
148                                           55.2
149                                           60.5
150                                           40.2
151                                           59.6
152                                           63.1
153                                           50.2
154                                           59.9
155                                           64.4
156                                           59.0
157                                           47.1
158                                           52.0
159                                           56.4
160                                           46.7
161                                           43.3
162                                           56.5
163                                           46.7
164                                           40.6
165                                           48.3
166                                           49.8
167                                           47.1
168                                           53.1
169                                           51.8
170                                           45.0
171                                           43.6
172                                           55.3
173                                           54.9
174                                           47.5
175                                           52.9
176                                           43.4

    Life expectancy at birth (years) 2005 - Male  \
0                                           79.9
1                                           77.3
2                                           78.5
3                                           77.9
4                                           76.0
5                                           78.3
6                                           78.5
7                                           78.7
8                                           76.9
9                                           76.6
10                                          75.6
11                                          75.2
12                                          77.2
13                                          75.5
14                                          76.5
15                                          76.7
16                                          75.8
17                                          75.4
18                                          77.7
19                                          77.2
20                                          79.1
21                                          76.2
22                                          78.1
23                                          76.7
24                                          77.5
25                                          74.3
26                                          73.6
27                                          76.6
28                                          74.5
29                                          74.6
..                                           ...
147                                         51.1
148                                         52.6
149                                         58.9
150                                         41.4
151                                         56.0
152                                         60.0
153                                         49.1
154                                         57.7
155                                         60.4
156                                         54.0
157                                         46.0
158                                         50.0
159                                         53.2
160                                         43.6
161                                         40.1
162                                         54.1
163                                         46.0
164                                         40.3
165                                         46.5
166                                         47.1
167                                         44.4
168                                         50.5
169                                         49.0
170                                         42.3
171                                         42.0
172                                         50.8
173                                         56.7
174                                         44.2
175                                         49.8
176                                         40.2

    Adult literacy ratea (% aged 15 and older) 1995-2005 - Female  \
0                                                   ..
1                                                   ..
2                                                   ..
3                                                   ..
4                                                   ..
5                                                   ..
6                                                   ..
7                                                   ..
8                                                   ..
9                                                   ..
10                                                  ..
11                                                  ..
12                                                  ..
13                                                  ..
14                                                  ..
15                                                  ..
16                                                  ..
17                                                  ..
18                                                  ..
19                                                98.0
20                                                97.3
21                                                  ..
22                                                97.7
23                                                94.2
24                                                88.6
25                                                  ..
26                                                99.6
27                                                95.1
28                                                92.0
29                                                90.2
..                                                 ...
147                                               70.2
148                                               79.9
149                                                 ..
150                                               86.2
151                                               38.5
152                                               34.7
153                                               57.7
154                                               49.9
155                                               29.2
156                                               71.5
157                                               60.1
158                                               62.2
159                                               18.1
160                                               59.8
161                                               54.2
162                                               23.3
163                                               54.0
164                                               59.8
165                                               38.6
166                                               52.2
167                                               54.1
168                                               22.8
169                                               12.8
170                                               33.5
171                                               25.0
172                                               15.9
173                                               15.1
174                                               60.0
175                                               16.6
176                                               24.2

    Adult literacy ratea (% aged 15 and older) 1995-2005 - Male  \
0                                                   ..
1                                                   ..
2                                                   ..
3                                                   ..
4                                                   ..
5                                                   ..
6                                                   ..
7                                                   ..
8                                                   ..
9                                                   ..
10                                                  ..
11                                                  ..